/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Montserrat font to all text */
*,
*::before,
*::after {
  font-family: 'Montserrat', sans-serif;
}

/* Set the background color to black for the entire body */
body {
    background-color: black;
    color: white; /* Ensures text is visible on the black background */
    margin: 0;
   
    
  }
  
  html {
    scroll-behavior: smooth;
  }
  
/* Add these styles in your global CSS or inside the component's styles */
@keyframes wave {
  0% {
    transform: translateY(0);
    opacity: 1; /* Fully visible */
  }
  50% {
    transform: translateY(-20px); /* Adjust movement */
    opacity: 0.3; /* Dots fade out halfway through the animation */
  }
  100% {
    transform: translateY(0);
    opacity: 1; /* Back to fully visible */
  }
}

.animate-wave {
  animation: wave 1.5s infinite ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.letter {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0.08s forwards;
}

.word {
  display: inline-block;
}
