/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Montserrat font to all text */
*,
*::before,
*::after {
  font-family: 'Montserrat', sans-serif;
}

/* Set the background color to black for the entire body */
body {
    background-color: black;
    color: white; /* Ensures text is visible on the black background */
    margin: 0;
   
    
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  